@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --secondary-color: #BD995B;
}

/* ::-webkit-scrollbar {
  width: 12px;
	background-color: transparent;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
} */

body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

/*  Main - BD995B */

#carousel{
  scroll-behavior: smooth;
}