@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --secondary-color: #BD995B;
}

/* Hide scroll bar  */
::-webkit-scrollbar {
  display: none;
}
/*  Main - BD995B */

#carousel{
  scroll-behavior: smooth;
}